.App {
  text-align: center;
}
.App h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.App button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.App button:hover {
  background-color: #0056b3;
}